.Customers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}

.clients-page {
  display: flex;
  flex-direction: column;
}

.clients-ahead {
  min-width: calc(100vw - 92px);
  max-height: 90px;
  padding: 30px 75px 10px 75px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0e8750;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: end;

  border-bottom: 1px solid rgba(172, 217, 197, 1);
}

.customers-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;

  padding: 30px 75px 10px 75px;
}

.customers-body-ahead,
.customers-body-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.customers-body-ahead {
  gap: 15px;
}

.customers-body-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-client,
.customers-search {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  background-color: rgba(218, 1, 117, 1);
  color: rgba(255, 255, 255,);
  border-radius: 7px;
  padding: 10px 50px;
  gap: 5px;
}

.customers-search {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 5px 3px;
  max-height: 38px;
  width: 300px;
}

.customers-search input {
  all: unset;
  cursor: initial;
  width: 200px;
}

.customers-search holder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}