* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgba(248, 248, 249, 1);
    width: 100%
}

input:focus {
    border: 1px solid rgb(208, 213, 221);
}

input:invalid {
    border: 1px solid rgb(224, 72, 72)
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Nunito:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.show-password-img {
    cursor: pointer;
}
