.ChargeCard {
  width: calc(100vw - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 30px;
}

.overdue-charges,
.foreseen-charges,
.paid-charges {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: rgba(172, 217, 197, 0.25);
}

.card-ahead {
  font-size: 14px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #eff0f6;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #3f3f55;
}

.overdue-count,
.foreseen-count,
.paid-count {
  font-size: 14px;
  padding: 2px 10px;
  border-radius: 8px;
}

.overdue-count {
  color: rgba(151, 29, 29, 1);
  background-color: #ffefef;
}

.foreseen-count {
  color: rgba(197, 166, 5, 1);
  background-color: rgba(252, 246, 220, 1);
}

.paid-count {
  color: rgba(31, 167, 175, 1);
  background-color: rgba(238, 246, 246, 1);
}

.card-list {
  width: 300px;
  font-size: 14px;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
  margin-bottom: 15px;
}

.card-list span {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.005em;
  color: #3f3f55;
}

.charges-register {
  text-align: flex-start;
  padding: 5px 5px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 0px solid #eff0f6;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.005em;
  color: #6e6e85;
}

.see-all span {
  text-decoration: underline;
  color: rgba(218, 1, 117, 1);
}
