.Charges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.charges-page {
  display: flex;
  flex-direction: column;
}

.charges-ahead {
  min-width: calc(100vw - 92px);
  max-height: 90px;
  padding: 30px 75px 10px 75px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: end;

  border-bottom: 1px solid rgba(172, 217, 197, 1);
}

.charges-ahead h3{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0E8750;
  margin-top: 30px;
  padding-bottom: 0px;
  }

.customers-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 30px 75px 10px 75px;
}

.customers-body h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #3F3F55;
}

.customers-body-ahead, .customers-body-options {
  display: flex;
  flex-direction: row;
}

.customers-body-ahead {
  gap: 15px;
}

.customers-body-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.add-client, .customers-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  background-color: rgba(218, 1, 117, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 7px;
  padding: 10px 50px;
  gap: 5px;
}

.customers-search {
  box-shadow: 2px 5px rgba(218, 1, 117, .15);
  border-radius: 10px;
  padding: 5px 3px;
  background: #FFFFFF;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #747488;
}

.customers-search input {
  all: unset;
  cursor: initial;
  padding: 5px 5px;
  width: 300px;
  
}