.ValueCard {
    width:calc(100vw - 108px);
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-evenly;
}

.ValueCard span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #3F3F55;

}

.ValueCard p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #3F3F55;
}


.paid-accounts, .overdue-accounts, .forseen-accounts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px 50px;
    border-radius: 15px;
}

.paid-accounts img, .overdue-accounts img, .forseen-accounts img {
    margin-right: 50px;
}

.paid-accounts {
    background-color: rgba(238, 246, 246, 1);
}

.overdue-accounts {
    background-color: rgba(255, 239, 239, 1)
}

.forseen-accounts {
    background-color: rgba(252, 246, 220, 1);
}

.value h3{
    text-align: center;
}
