.Error {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 25px;
    

    width: 200px;
    height: 150px;
    padding: 0px 15px;

    background-color: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;

}

.Error img {
    width: 15px;
    align-self: flex-end;
}

.error-title, .Error span {
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

.Error span {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
}

.btn-ok {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 35px;
    width: 50%;
    text-align: center;
    background: #DA0175;
    color: #FFFFFF;

    border-radius: 5px;
}